<!DOCTYPE html>
<html>

<head>
    <title>pagina de produtos</title>
</head>

<body>
    <h1>Produtos</h1>
    <a href="/about">Acessar Sobre</a>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/512px-Circle-icons-profile.svg.png" width="200" height="200" alt="Magalu em frente a loja da Magazine Luiza" />
    <p>
        Meu nome é: <strong>Vitor</strong><br> Idade: <strong>25</strong><br> Estado civil: <strong>Casado</strong>
    </p>
    <h3>Qualidades</h3>
    <ul>
        <li>Jogo bem video game</li>
        <li>Sou programador</li>
    </ul>

    <ol type="I" start="20">
        <li>Sei cozinhar</li>
        <li>Sei jogar bola</li>
    </ol>
</body>

</html>

<!--<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
    <% products.forEach(function(product){ %>
        <br> Nome:
        <%= product.name %>
            Tipo:
            <%= product.type %>
                <% }) %><br>

</body>

</html>-->